@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #c471ed;
    display: grid;
    place-items: center;
    
}
form{
    background-color: #0b486b;
    padding: 80px;
    width: 800px;
    margin: 100px auto;
    text-align: center;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0px 5px 5px 5px #5d5d5d;

}
#tempCalculator label{
    font-size: 30px;
    color: aliceblue;
    text-transform: capitalize;
}
form #temp {
    border: none;
    padding: 10px;
    height: 40px;
    width: 100px;
    font-size: 30px;
    margin-top: 20px;
    border: none;
}
#temp-difference{
    height: 40px;
    border: none;
    margin-top: 20px;
    font-size: 30px;
    vertical-align: top;
}
.container{
    display: grid;
    place-items: center;
    border: transparent;
    box-shadow: 0px 5px 5px 5px #5d5d5d;
    width: 900px;
    height: 600px;
    background: #f2994a;
}
#submit-button{
    margin-top: 5px;
    width: 180px;
    height: 50px; 
    color: #fff;    
    background: #f1ac70;
    font-size: 30px;
    text-align: center;
}
span{   
    color: #fff; 
    font-size: 30px;
}